# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
*.log
*.pyc

# VSCode
.vscode/

# MacOS
.DS_Store

# Pytest
.pytest_cache/

# Gunicorn
*.pid

# Render logs
render.yaml
*.bak

# Env files
.env.*
.envrc
secrets.env

# Migration/Cache
migrations/
*.egg-info/
*.pytest_cache/
.venv/
venv/
